<div class="main">
  <h1>新規登録</h1>
  <%= form_tag("/user/create") do %>
  <div class="new-form">
    <div class="new-form-box">
      <p>氏名（フルネーム）</p>
      <input type="text" name="name">
      <p>クラス担任（敬称略）</p>
      <input type="text" name="class">
      <p>学籍番号</p>
      <input type="text" name="number" value="例)W111111">
      <p>パスワード</p>
      <input type="password" name="password">
      <div class="new_button">
      <input class="btn" type="submit" value="送信">
      </div>
    </div>
  </div>
  <% end %>
</div>
